<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.demo.mapper.LogMapper">
    <insert id="addLog" parameterType="TB_LOG">
        insert into tb_log (user_id,operationName,operationType,otime,result) values (#{user_id},#{operationName},#{operationType},sysdate(),#{result})
    </insert>
</mapper>